Estilização da Página Principal

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light span,
.light .p,
.light a {
    text-align: center;
    color: black;
    text-decoration: none;
}

html {
    height: 100%;
    min-height: 100%;
}

.light .body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.light .menu {
    z-index: 2;
    width: 100%;
    position: fixed;
    background-color: white;
    height: 3.5rem
}

.light .menu .central {
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: 0.2rem;
    min-width: auto;
    margin-left: -6.2rem;
}

.light .central h2 {
    color: blueviolet;
}

.light .central h2:hover {
    color: black;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}


.light .nav-link p {
    margin-top: 1rem;
    display: inline;
    color: black;
    background-color: white;
}


.light .nav-link p:hover {
    color: blueviolet;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .carrosel {
    width: 100%;
    height: 100%;
}

.light .contraste {
    margin-left: 94rem;
    margin-top: -2rem;
    position: fixed;
    z-index: 1000;
    width: 40px;
    height: 40px;
    color: black
 }
 .btncont {
    z-index: -3;
    margin-left: -1rem;
    margin-top: -1rem;

 }

 .light .contraste:hover {
    color: blueviolet;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .about-us {
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
}

.light .about-us img {
    width: 100%;
    height: 20rem;
}

.light .aboutus {
    background-color: white;
    color: black
}

.light .about-us p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: black;
    justify-self: baseline;
}

.light .about-us p:hover {
    color: blueviolet;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .time {
    margin-left: 12rem;
}

.light .time img {
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 40%;
    width: 15rem;
    height: 15rem;
    
}

.card-body {
    flex:none
}

.light .time p {
    margin-left: -11rem;;
}

.light .time a {
    width: 2.5rem;
    height: 2.5rem;

}

.light .time a img {
    background-color: white;
}

.light .time a:hover img {
    background-color: blueviolet;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .time a.github {
    margin-left: 4.1rem;
}

.light .time a.facebook {
    margin-left: .5rem;
    margin-top: -.5rem;
}

.light .time a.linkedin {
    margin-left: .5rem;
    margin-top: -.5rem;
}

 .card {
    --bs-card-border-color: white;
    --bs-card-border-width: 0%
}


.products .caixas {
    position: relative; 
    justify-content: center;

}

 .products .card-title {
    text-align: center;
}

.light .products img {
    width: 262px;
    height: 352px;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.light .products .card {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 3.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 18rem;
    background-color: #212529;
    color: white;
}

.light .products .details {
    width: 8rem;
    height: 3rem;
    align-self: center;
    text-align: center;
    margin-top: -.5rem;
}

.light .products .add {
    width: 8rem;
    height: 3rem;
    margin-left: 1.2rem;
    margin-top: -.5rem;

}

.light .products .addp {
    margin-top: -.5rem;
    color: white;
}

.light .products .addp:hover {
    color: black;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .products .btn:hover, .a:hover {
    background-color: gold;
    color: black;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.light .products .bag {
    position: fixed;
    z-index: 1000;
}

.light .footer {
    background-color: white;
    padding: 0.1rem;
    width: 100%;
}

.light .footer a, .footer p{
    margin-top: 1rem;
}

.light .footer p {
    margin-left: 18rem;
    color: black;
    text-align: left;
}

.light .footer a{
    color: white;
    margin-top: -4rem;
    margin-left: .5rem;
    padding-top: -5rem;
}
.light .footer .zap {
    margin-left: 5rem;
    color: #128C7E;
}   
.light .footer .insta {
    color: #833AB4;
}
.light .footer .fb {
    color: #4267B2;
}

 /* Estilização do Carrinho */

 .light .cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    background: #212529;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
    margin-top: -1rem;
} 

.light body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #E0E0E0;
    background-color: #E0E0E0;
    color: #000000
}

.light .carrinho {
   background: #E0E0E0;
    background-color: #E0E0E0;
}

.dark .cart {
   background-color: #212529;
   background: #212529;
}

.dark .cart_button_clear, .dark .carrinho p {
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
}

.dark .cart_button_clear {
    margin-top: -1rem;
}

.light .checkout {
    background-color: #E0E0E0;
    color: black;
 }

 .dark .checkout {
    background-color: #212529;
    color: white;
 }

 .light .cart_list {
    border: solid 2px blueviolet;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.dark .cart_list {
    border: solid 2px gold;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.light .order_total {
    border: solid 2px blueviolet;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.dark .order_total {
    border: solid 2px gold;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

 /* Estilização da Página #dark-mode */
 
 .dark h1,
 .dark h2,
 .dark h3,
 .dark h4,
 .dark h5,
 .dark span,
 .dark .p,
 .dark a {
     color: white;
 }

 .dark .body {
     background-color: #212529;
 }
 
 .dark .menu {
    background-color: #212529;
 }
 
 .dark .central h2 {
    color: gold;
 }
 
 .dark .central h2:hover {
    color: white ;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }
 
 .dark .nav-link p{
    background-color: #212529;
 }
 
 .dark .nav-link p:hover {
    color: gold;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }
 
 .dark .contraste {
    margin-left: 94rem;
    margin-top: -2rem;
    position: fixed;
    z-index: 1000;
    width: 40px;
    height: 40px;
 }
 
 .dark .contraste:hover {
     color: gold;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }
 
 .dark .about-us {
    background-color: #212529;
 }
 
 .dark .aboutus {
    background-color: #212529;
    color: white;
 }
 
 .dark .about-us p, .dark .card-title, .dark .card-text {
    color: white;
 }
 
 .dark .about-us p:hover {
    color: gold;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }
 
 .dark .designer, .dark .developer, .dark .director {
    background-color: #212529;
 }

.dark .bag {
    background-color: #212529;
}  

 .dark .card { 
    --bs-card-border-color: #212529;
 }

 .dark .products {
    background-color: #212529;
 }

 .dark .products .card {
    background-color: #212529;
    color: #212529;
 }
 .dark .carditems {
    background-color: white;
    border-radius: 2%;
    color: black
    
 }
 .dark .footer {
    background-color: #212529;
 }
 
 .dark .footer p, a {
    color: white;
 }

