 Estilização da Página Principal h1,
 h2,
 h3,
 h4,
 h5,
 span,
 p,
 a {
     text-align: center;
     color: black;
     text-decoration: none;
 }

 html {
     height: 100%;
     min-height: 100%;
 }

 .light body {
     background-color: #E0E0E0;
     display: flex;
     flex-direction: column;
     min-height: 100%;
 }

 .dark body {
     background-color: #212529;
 }

 .menu {
     z-index: 2;
     width: 100%;
     position: fixed;
     background-color: #212529;
     height: 3.5rem
 }

 .menu .central {
     text-decoration: none;
     font-size: 2.5rem;
     margin-top: 0.2rem;
     min-width: auto;
     margin-left: -6.2rem;
 }

 .central h2 {
     color: gold;
 }

 .central h2:hover {
     color: white;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }


 .nav-link p {
     margin-top: 1rem;
     display: inline;
     color: white;
     background-color: #212529;
 }


 .nav-link p:hover {
     color: gold;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }




 .carrosel {
     width: 100%;
     height: 100%;
 }


 .about-us {
     align-items: center;
     align-content: center;
     justify-content: center;
     background-color: #212529;
 }

 .about-us img {
     width: 100%;
     height: 20rem;
 }

 .aboutus {
     background-color: white;
     color: black
 }

 .about-us p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.2rem;
     color: white;
     justify-self: baseline;
 }

 .about-us p:hover {
     color: gold;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }

 .time {
     margin-left: 12rem;
 }

 .time img {
     align-items: center;
     align-content: center;
     justify-content: center;
     border-radius: 40%;
     width: 15rem;
     height: 15rem;

 }


 .card-body {
     margin-left: -1rem;
     ;
 }

 .time p {
     margin-left: -11rem;
     ;
 }

 .time a {
     width: 2.5rem;
     height: 2.5rem;

 }

 .time a img {
     background-color: #212529;
 }

 .time a:hover img {
     background-color: gold;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }

 .time a.github {
     margin-left: 4.1rem;
 }

 .time a.facebook {
     margin-left: .5rem;
     margin-top: -.5rem;
 }

 .time a.linkedin {
     margin-left: .5rem;
     margin-top: -.5rem;
 }

 .card {
     --bs-card-border-color: white;
     --bs-card-border-width: 0%
 }

 .products .caixas {
     position: relative;
     justify-content: center;

 }

 .products .card-title {
     text-align: center;
 }

 .products img {
     width: 262px;
     height: 352px;
     margin-bottom: 2rem;
     margin-left: 1rem;
 }

 .products .card {
     margin-top: 2rem;
     margin-left: 4rem;
     margin-right: 3.5rem;
     align-items: center;
     align-content: center;
     justify-content: center;
     width: 18rem;
     background-color: #212529;
     color: white;
 }

 .products .details {
     width: 8rem;
     height: 3rem;
     align-self: center;
     text-align: center;
     margin-top: -.5rem;
 }

 .products .add {
     width: 8rem;
     height: 3rem;
     margin-left: 1.2rem;
     margin-top: -.5rem;

 }

 .products .addp {
     margin-top: -.5rem;
     color: white;
 }

 .products .addp:hover {
     color: black;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }

 .products .btn:hover,
 .a:hover {
     background-color: gold;
     color: black;
     transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
 }

 .products .bag {
     position: fixed;
     z-index: 1000;
 }

 .footer {
     background-color: #212529;
     padding: 0.1rem;
     width: 100%;
     bottom: 0;
     left: 0;


 }

 .footer a,
 .footer p {
     margin-top: 1rem;
 }

 .footer p {
     margin-left: 18rem;
     color: white;
     text-align: left;
 }

 .footer a {
     color: white;
     margin-top: -4rem;
     margin-left: .5rem;
     padding-top: -5rem;
 }

 .footer .zap {
     margin-left: 5rem;
     color: #128C7E;
 }

 .footer .insta {
     color: #833AB4;
 }

 .footer .fb {
     color: #4267B2;
 }

 /* Estilização do Carrinho  */


 .carrinho,
 .carrinho h2,
 .carrinho h3,
 .carrinho p {
     align-self: center;
     align-items: center;
     align-content: center;
     justify-content: center;
     text-align: center;
 }

 * {
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
     text-shadow: rgba(0, 0, 0, .01) 0 0 1px
 }

 ul {
     list-style: none;
     margin-bottom: 0px
 }

 .button {
     display: inline-block;
     background: #0e8ce4;
     border-radius: 5px;
     height: 48px;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .button a {
     display: block;
     font-size: 18px;
     font-weight: 400;
     line-height: 48px;
     color: #FFFFFF;
     padding-left: 35px;
     padding-right: 35px
 }

 .button:hover {
     opacity: 0.8
 }

 .cart_section {
     width: 100%;
     padding-bottom: 1rem
 }

 .cart_title {
     font-size: 30px;
     font-weight: 500
 }

 .cart_items {
     margin-top: 8px
 }

 .cart_item {
     width: 100%;
     padding: 2.5rem;
     padding-right: 46px
 }

 .cart_item_image {
     width: 133px;
     height: 133px;
     float: left
 }

 .cart_item_image img {
     max-width: 100%;
     margin-top: -2rem;
 }

 .cart_item_info {
     width: calc(100% - 133px);
     float: left;
     padding-top: 18px
 }

 .cart_item_name {
     margin-left: 7.53%
 }

 .cart_item_title {
     font-size: 14px;
     font-weight: 400;
     color: rgba(0, 0, 0, 0.5)
 }

 .cart_item_text {
     font-size: 18px;
     margin-top: 35px
 }

 .cart_item_text span {
     display: inline-block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-right: 11px;
     -webkit-transform: translateY(4px);
     -moz-transform: translateY(4px);
     -ms-transform: translateY(4px);
     -o-transform: translateY(4px);
     transform: translateY(4px)
 }

 .cart_item_price {
     text-align: right
 }

 .cart_item_total {
     text-align: right
 }

 .order_total {
     width: 100%;
     height: 60px;
     border: solid 1px blueviolet;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
     padding-right: 46px;
     padding-left: 15px;
     background-color: #fff;
     margin-bottom: -4.3rem;
 }

 .order_total_title {
     display: inline-block;
     font-size: 14px;
     color: rgba(0, 0, 0, 0.5);
     line-height: 60px
 }


 .order_total_amount {
     display: inline-block;
     font-size: 18px;
     font-weight: 500;
     margin-left: 26px;
     line-height: 60px
 }

 .cart_button_clear {
     display: inline-block;
     border: none;
     font-size: 18px;
     font-weight: 400;
     line-height: 48px;
     color: rgba(0, 0, 0, 0.5);
     background: #FFFFFF;
     border: solid 1px #b2b2b2;
     padding-left: 35px;
     padding-right: 35px;
     outline: none;
     cursor: pointer;
     margin-right: 26px
 }

 .checkout,
 .checkout h3 {
     align-self: center;
     align-items: center;
     align-content: center;
     justify-content: center;
     text-align: center;
 }


 .panel-title {
     display: inline;
     font-weight: bold;
 }

 .checkbox.pull-right {
     margin: 0;
 }

 .pl-ziro {
     padding-left: 0px;
 }

 .py-5 {
     margin-top: -3rem;
 }

 .my-5 {
     margin-bottom: -3rem;
 }

 .bandeira {
    margin-bottom: -1.8rem;
 }



 /* CSS */
 .button-30 {
     align-items: center;
     appearance: none;
     background-color: #FCFCFD;
     border-radius: 4px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
     box-sizing: border-box;
     color: #36395A;
     cursor: pointer;
     display: inline-flex;
     font-family: "JetBrains Mono", monospace;
     height: 2rem;
     justify-content: center;
     line-height: 1;
     list-style: none;
     overflow: hidden;
     margin-top: 3.2rem;
     padding-left: 16px;
     padding-right: 16px;
     position: relative;
     text-align: left;
     text-decoration: none;
     transition: box-shadow .15s, transform .15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow, transform;
     font-size: 18px;
 }



 /* CSS */
 .menos {
     background-color: #c22f0a;
     align-items: center;
     border: 0;
     border-radius: 10px;
     box-sizing: border-box;
     color: #ffffff;
     cursor: pointer;
     display: inline-flex;
     font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 22px;
     max-width: 480px;
     min-height: 30px;
     min-width: 0px;
     overflow: hidden;
     padding: 0px;
     padding-left: 12px;
     padding-right: 12px;
     margin-left: 3rem;
     margin-top: -3.2rem;
     text-align: center;
     touch-action: manipulation;
     transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
     user-select: none;
     -webkit-user-select: none;
     vertical-align: middle;
 }

 .button-18 {
     align-items: center;
     background-color: #0A66C2;
     border: 0;
     border-radius: 10px;
     box-sizing: border-box;
     color: #ffffff;
     cursor: pointer;
     display: inline-flex;
     font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 20px;
     max-width: 480px;
     min-height: 30px;
     min-width: 0px;
     overflow: hidden;
     padding: 0px;
     padding-left: 10px;
     padding-right: 10px;
     margin-right: 3rem;
     margin-bottom: -4.6rem;
     text-align: center;
     touch-action: manipulation;
     transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
     user-select: none;
     -webkit-user-select: none;
     vertical-align: middle;
 }

 .button-18:hover,
 .button-18:focus {
     background-color: #16437E;
     color: #ffffff;
 }

 .button-18:active {
     background: #09223b;
     color: rgb(255, 255, 255, .7);
 }

 .button-18:disabled {
     cursor: not-allowed;
     background: rgba(0, 0, 0, .08);
     color: rgba(0, 0, 0, .3);
 }